<div class="container-fluid courseContent">
	<div class="row text-right">
		<div class="col-xs-12">
			<h1>Coding Academy.</h1>
			<h2>Learn new skills online.</h2>
			<h4>An effective way to keep your technology skills up-to-date.</h4>
		</div>
	</div>
	<div class="row courseData">
		<div class="col-md-5 col-md-offset-1">
			<div ng-include="'/partials/main/featured-courses'"></div>
		</div>
		<div class="col-md-5">
			<div ng-include="'/partials/main/new-courses'"></div>
		</div>
	</div>
</div>